 @import "bootstrap-sprockets";
 @import "bootstrap";


 $light-gray: #777;
 $gray-medium-light: #eaeaea;

/* Header */
 #logo {
   float: left;
   margin-right: 10px;
   font-size: 1.7em;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: -1px;
   padding-top: 9px;
   font-weight: bold;
   &:hover{
     color: $light-gray;
     text-decoration: none;
   }
 }

/* Footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $light-gray;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* Universal */
.text-center{
  text-align: center;
}



/* I dont know WTF happend with this margin :c */
 .margin-top{
   margin-top: 40px;
 }
